
header {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
}

header:hover {
    cursor: pointer;
    background-color: #0000cc;
}

h1 {
    font-family: "Trebuchet MS";
    padding: 20px;
}

h2 {
    padding: 20px;
}