
h3 {
    margin: 40px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
}