
.menu-box {
    padding: 15px 10px 30px;
    margin: 20px 20px;
    background-color: blue;
    width: 200px;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.menu-box p {
    text-align: center;
}

.menu-box:hover {
    cursor: pointer;
    background-color: #0000cc;
}