
#full-page {
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    background-color: #91ccff;
}

main {
    text-align: center;
    flex: 1 0 auto;
}

main p {
    padding-top: 20px;
}

footer {
    background-color: blue;
    color: white;
}

footer p {
    text-align: center;
}