
#full-page {
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

header {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
}

header h1 {
    font-family: "Trebuchet MS";
    padding: 20px;
}

header h2 {
    padding: 20px;
}

main {
    text-align: center;
    flex: 1 0 auto;
}

main p {
    padding-top: 20px;
}

footer {
    background-color: blue;
    color: white;
}

footer p {
    text-align: center;
}